/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  transition: background-color 1s, color 1s;
}

header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--destaque);
  color: var(--texto);
  padding: 15px;
  position: sticky; /*Mantém o header fixo durante o scroll*/
  top: 0; /*Mantém o header fixo durante o scroll*/
  z-index: 1; /*Faz com que o header seja sempre a primeira camada*/
}

nav#menu > ul {
  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav#menu a {
  color: white;
  padding: 12px;
  color: var(--texto-inverso);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  transition-duration: 0.5s;
}

main {
  display: grid;
  grid-template-columns: auto 90% auto;
  gap: 20px;
  margin-top: 20px;
}

#ficha {
  grid-column: 2;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
}

#ficha > img.foto-perfil {
  width: 200px;
  aspect-ratio: 1/1; /* deixa a imagem quadradinha*/
  object-fit: cover;
  overflow: hidden; /* se ficar alguma parte pra fora, ele esconde.*/
  border-radius: 50%;
  border: 4px solid var(--fundo-card);
  outline: 4px solid var(--destaque);
  margin-bottom: 15px;
}

#ficha > h1 {
  color: var(--destaque);
  margin-bottom: 10px;
}

#ficha > p {
  text-align: justify;
}

.redes {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.redes > a {
  text-decoration: none;
  padding: 4px;
  color: var(--destaque);
  font-size: 30px;
  cursor: pointer;
}

.redes > a:hover {
  color: var(--destaque-inverso);
  border-radius: 10px;
  margin-top: -2px;
  transition-duration: 0.5s;
}

#detalhes {
  grid-column: 2;
}

#detalhes > div {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#detalhes > div > h2 {
  color: var(--destaque);
  margin-bottom: 10px;
  text-align: center;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

.video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.skills-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.skills-container .nome {
  font-weight: bold;
  color: var(--texto);
}

.skills-container .porcentagem {
  font-weight: bold;
  color: var(--destaque);
}

.skills-container .barra {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: var(--fundo-principal);
}

.skills-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 5px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 10px;
  transition: border-width 0.5s, border-color 0.5s;
}

#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao {
  font-size: 1.1em;
  color: var(--destaque-inverso);
}

footer {
  background-color: var(--destaque);
  padding: 10px;
  text-align: center;
  color: white;
}

#projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-color 0.5s, border-width 0.5s;
}

#projeto-container .projeto:hover {
  border-color: var(--destaque);
  border-left-width: 15px;
  cursor: pointer;
}

#projeto-container .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;

}

footer a:hover {
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  #icon-casa {
    display: none;
  }

  section#ficha {
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
  }

  #ficha > p {
    text-align: left;
  }

  section#detalhes {
    grid-column: 3 / 4;
  }

  div.skills-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 40%;
    max-height: 200px;
  }
}